/*
app bg 1 rgb(7, 46, 41);
*/
.app {
  /* background-color: rgb(7, 46, 41); */
  /* background-color: black; */
  /* background-color: rgba(22, 35, 95, 0.9); */

  color: white;
  text-align: center;
  border-radius: 45%;
  /* border-width: 3px; */
  /* border-style: dashed; */
  /* border-color: lightgreen; */

  /* border-color: rgba(22, 35, 95, 0.9); */
  /* border-color: green; */
  max-width: 500px;
  max-height: 600px;
  margin: auto;
  margin-top: 250px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 170px;
  padding-bottom: 110px;
}

.container {
  display: flex;
  flex: 1;
  /* height: 100%; */
  /* background-color: rgb(7, 46, 41); */
  /* background-color: black; */
  background-color: rgb(22, 39, 92);
  /* background-color: brown; */
}
