.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
}

.app {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  color: rgb(195, 186, 80);
  text-align: center;
  padding: 170px 30px 110px 30px;
  background-color: rgba(31, 18, 18, 0.9);
}

.app-content {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  flex: 1;
  word-break: break-word;
}

.app-bottom-space {
  max-height: 250px;
  flex: 1;
  background-color: #ffe4c494;
}
